### Introduction to Tuples

Tuples are ordered collections of items that are immutable.

They are similar to lists, but their immutability makes them different.

In [4]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [5]:
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [6]:
lst=list((1,2,3,4,5))
lst

[1, 2, 3, 4, 5]

In [7]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [8]:
# Using parentheses
t1 = (1, 2, 3)

# Without parentheses (tuple packing)
t2 = 4, 5, 6

# Single element tuple (must include a comma)
t3 = (10,)
print(type(t3))   # <class 'tuple'>

# Empty tuple
t4 = ()
t5 = tuple()

<class 'tuple'>

### Accessing Elements

In [ ]:
t = (10, 20, 30, 40, 50)

print(t[0])   
print(t[-1])  
print(t[1:4])

10
50
(20, 30, 40)

### Tuple is Immutable

Cannot be changed after creation — any modification creates a new object.

In [15]:
t = (1, 2, 3)
t[0] = 100   #❌ Error → 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

### Tuple Operations

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5)

# Concatenation
print(t1 + t2)   

# Repetition
print(t1 * 2)    

# Membership
print(2 in t1)

(1, 2, 3, 4, 5)
(1, 2, 3, 1, 2, 3)
True

In [13]:
concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'Hello World', 3.14, True)

### Tuple Functions

In [17]:
t = (10, 20, 30, 20)

print(len(t))       
print(max(t))       
print(min(t))       
print(t.count(20)) 
print(t.index(30))

4
30
10
2
2

### Tuple Packing and Unpacking

In [18]:
# Packing
t = (1, "apple", 3.5)

# Unpacking
a, b, c = t
print(a)  # 1
print(b)  # apple
print(c)  # 3.5

1
apple
3.5

In [19]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [22]:
# Nested Tuples
## Nested List

lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [25]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple

print(nested_tuple[0])
print(nested_tuple[1])
print(nested_tuple[1][2])

(1, 2, 3)
('a', 'b', 'c')
c

In [27]:
## iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False