| Concept           | Keyword         | Purpose                         |
|--------------------|-----------------|----------------------------------|
| Simple Loop        | `for`           | Repeats code for each element    |
| Conditional Loop   | `while`         | Runs until condition false       |
| Exit Loop          | `break`         | Stops loop immediately           |
| Skip Iteration     | `continue`      | Skips current iteration          |
| Nested Loop        | `for` inside `for` | Loop inside loop              |
| Loop Else          | `else`          | Runs if loop completes normally  |
| Enumerate          | `enumerate()`   | Gives index + value              |
| Empty Block        | `pass`          | Placeholder â€” does nothing       |

In [10]:
range(1,5)

range(1, 5)

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(2, 8):
    print(i)

2
3
4
5
6
7

In [5]:
for i in range(1, 10, 2):
    print (i)

1
3
5
7
9

In [11]:
for i in range(10, 0, -2):
    print (i)

10
8
6
4
2

In [9]:
dataset = ["image1.jpg", "image2.jpg", "image3.jpg"]
for data in dataset:
    print("Processing:", data)

Processing: image1.jpg
Processing: image2.jpg
Processing: image3.jpg

In [14]:
str = "Dilip"

for i in str:
    print (i)

D
i
l
i
p

In [15]:
## while loop

## The while loop continues to execute as long as the condition is True.

count=0

while count<5:
    print (count)
    count+=1

0
1
2
3
4

In [17]:
## break sstatement

for i in range(10):
    print(i)
    if i==5:
        break

0
1
2
3
4
5

In [18]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [19]:
## pass
## The pass statement is a null operation; it does nothing.

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [24]:
## Nested loopss
## a loop inside a loop

for i in range(2):
    for j in range(2):
        # print(i,j)
        print(f"i: {i} and j: {j}")

i: 0 and j: 0
i: 0 and j: 1
i: 1 and j: 0
i: 1 and j: 1

In [26]:
## Example- Prime numbers between 1 and 50

for num in range(1,51):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [27]:
## Examples- Calculate the sum of first N natural numbers using a while and for loop

## while loop  

n=10   
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55

In [30]:
## for loop

n=10   
sum=0
for i in range(11):
    sum=sum+i

print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55