## The map() Function
The map() function applies a given function to all items in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for transforming data in a list comprehensively.

In [2]:
def square(x):
    return x*x

square(10)

100

In [4]:
number = [1,2,3,4,5]

list(map(square, number))

[1, 4, 9, 16, 25]

In [7]:
list(map(lambda x:x*x, number))

[1, 4, 9, 16, 25]

In [9]:
row1 = [1,2,3,4,5]
row2 = [6,7,8,9,10]

add_numbers = list(map(lambda x,y : x+y, row1, row2))

print(add_numbers)

[7, 9, 11, 13, 15]

In [10]:
str_numbers = ['1','2','3','4','5']

list(map(int, str_numbers))

[1, 2, 3, 4, 5]

In [13]:
fruits = ['apple', 'banana', 'cherry', 'date']

list(map(lambda x: x.upper(), fruits))

['APPLE', 'BANANA', 'CHERRY', 'DATE']

In [15]:
def get_name(person):
    return person['name']

people = [
    {'name': 'Alice', 'age': 30},
    {'name': 'Bob', 'age': 25},
    {'name': 'Charlie', 'age': 35}
    ]

list(map (get_name, people))

['Alice', 'Bob', 'Charlie']